@import url("https://fonts.googleapis.com/css?family=Yesteryear");
@import url("https://fonts.googleapis.com/css?family=Raleway");
/* line 1, ../../sass/main.scss */
.font-special {
  font-family: 'Yesteryear', cursive; }

/* line 5, ../../sass/main.scss */
.font-normal {
  font-family: 'Raleway', sans-serif; }

/* line 9, ../../sass/main.scss */
.overlay {
  background: rgba(0, 0, 0, 0.25); }

/* line 13, ../../sass/main.scss */
.noPadding-right {
  padding-right: 0px !important; }

/* line 17, ../../sass/main.scss */
.noPadding-left {
  padding-left: 0px !important; }

/* line 21, ../../sass/main.scss */
.noPadding {
  padding-left: 0px !important;
  padding-right: 0px !important; }

/* line 26, ../../sass/main.scss */
.widget {
  padding: 40px 0; }
  /* line 28, ../../sass/main.scss */
  .widget .widget-title {
    text-align: center; }
    /* line 30, ../../sass/main.scss */
    .widget .widget-title h2 {
      font-family: 'Yesteryear', cursive;
      margin-bottom: 40px;
      font-size: 65px;
      color: #9b7b32; }
    /* line 36, ../../sass/main.scss */
    .widget .widget-title p {
      margin-bottom: 40px !important;
      color: #295816;
      font-size: 16px; }

/* line 45, ../../sass/main.scss */
.goTop {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  background: #333;
  padding: 20px;
  display: none;
  cursor: pointer; }
  /* line 54, ../../sass/main.scss */
  .goTop i {
    font-size: 20px; }

/*=================================================|
|                    Reset Section                 |
==================================================*/
/* line 64, ../../sass/main.scss */
*:focus {
  outline: none; }

/* line 68, ../../sass/main.scss */
h1,
h2,
h3 {
  margin: 0; }

/* line 74, ../../sass/main.scss */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

/* line 81, ../../sass/main.scss */
.navbar-default .navbar-nav > li > a {
  color: white; }

/* line 85, ../../sass/main.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff !important;
  background-color: transparent; }

/* line 92, ../../sass/main.scss */
p {
  margin: 0 !important; }

/* line 96, ../../sass/main.scss */
.swiper-button-next,
.swiper-button-prev {
  background-image: none !important;
  width: auto !important;
  height: auto !important;
  cursor: pointer !important; }

/* line 104, ../../sass/main.scss */
body {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #fff;
  font-size: 16px; }

/* line 110, ../../sass/main.scss */
h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1;
  color: #414141;
  font-weight: normal; }

/*=================================================|
|               Typography Section                 |
==================================================*/
/*=================================================|
|                    Shared Section                |
==================================================*/
/* line 131, ../../sass/main.scss */
.centered-table {
  display: table;
  height: 100%;
  width: 100%; }
  /* line 135, ../../sass/main.scss */
  .centered-table .centered-elements {
    display: table-cell;
    vertical-align: middle; }

/* line 141, ../../sass/main.scss */
.relative {
  position: relative; }

/*=================================================|
|                    Preloader Section             |
==================================================*/
/* line 150, ../../sass/main.scss */
.preloader-cont {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9; }
  /* line 156, ../../sass/main.scss */
  .preloader-cont .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    display: block;
    width: 3.75em;
    height: 4.25em;
    margin-left: -1.875em;
    margin-top: -2.125em;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotateY(180deg) rotateZ(-60deg);
    transform: rotateY(180deg) rotateZ(-60deg); }
    /* line 170, ../../sass/main.scss */
    .preloader-cont .preloader .slice {
      border-top: 1.125em solid transparent;
      border-right: none;
      border-bottom: 1em solid transparent;
      border-left: 1.875em solid #f7484e;
      position: absolute;
      top: 0px;
      left: 50%;
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
      border-radius: 3px 3px 0 0; }
      /* line 181, ../../sass/main.scss */
      .preloader-cont .preloader .slice:nth-child(1) {
        -webkit-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
        transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
        -webkit-animation: 0.15s linear 0.82s preload-hide-1 both 1;
        animation: 0.15s linear 0.82s preload-hide-1 both 1; }
      /* line 187, ../../sass/main.scss */
      .preloader-cont .preloader .slice:nth-child(2) {
        -webkit-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
        transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
        -webkit-animation: 0.15s linear 0.74s preload-hide-2 both 1;
        animation: 0.15s linear 0.74s preload-hide-2 both 1; }
      /* line 193, ../../sass/main.scss */
      .preloader-cont .preloader .slice:nth-child(3) {
        -webkit-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
        transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
        -webkit-animation: 0.15s linear 0.66s preload-hide-3 both 1;
        animation: 0.15s linear 0.66s preload-hide-3 both 1; }
      /* line 199, ../../sass/main.scss */
      .preloader-cont .preloader .slice:nth-child(4) {
        -webkit-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
        transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
        -webkit-animation: 0.15s linear 0.58s preload-hide-4 both 1;
        animation: 0.15s linear 0.58s preload-hide-4 both 1; }
      /* line 205, ../../sass/main.scss */
      .preloader-cont .preloader .slice:nth-child(5) {
        -webkit-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
        transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
        -webkit-animation: 0.15s linear 0.5s preload-hide-5 both 1;
        animation: 0.15s linear 0.5s preload-hide-5 both 1; }
      /* line 211, ../../sass/main.scss */
      .preloader-cont .preloader .slice:nth-child(6) {
        -webkit-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
        transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
        -webkit-animation: 0.15s linear 0.42s preload-hide-6 both 1;
        animation: 0.15s linear 0.42s preload-hide-6 both 1; }
    /* line 218, ../../sass/main.scss */
    .preloader-cont .preloader.loading {
      -webkit-animation: 2s preload-flip steps(2) infinite both;
      animation: 2s preload-flip steps(2) infinite both; }
      /* line 222, ../../sass/main.scss */
      .preloader-cont .preloader.loading .slice:nth-child(1) {
        -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
        transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
        -webkit-animation: 2s preload-cycle-1 linear infinite both;
        animation: 2s preload-cycle-1 linear infinite both; }
      /* line 228, ../../sass/main.scss */
      .preloader-cont .preloader.loading .slice:nth-child(2) {
        -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
        transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
        -webkit-animation: 2s preload-cycle-2 linear infinite both;
        animation: 2s preload-cycle-2 linear infinite both; }
      /* line 234, ../../sass/main.scss */
      .preloader-cont .preloader.loading .slice:nth-child(3) {
        -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
        transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
        -webkit-animation: 2s preload-cycle-3 linear infinite both;
        animation: 2s preload-cycle-3 linear infinite both; }
      /* line 240, ../../sass/main.scss */
      .preloader-cont .preloader.loading .slice:nth-child(4) {
        -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
        transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
        -webkit-animation: 2s preload-cycle-4 linear infinite both;
        animation: 2s preload-cycle-4 linear infinite both; }
      /* line 246, ../../sass/main.scss */
      .preloader-cont .preloader.loading .slice:nth-child(5) {
        -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
        transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
        -webkit-animation: 2s preload-cycle-5 linear infinite both;
        animation: 2s preload-cycle-5 linear infinite both; }
      /* line 252, ../../sass/main.scss */
      .preloader-cont .preloader.loading .slice:nth-child(6) {
        -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
        transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
        -webkit-animation: 2s preload-cycle-6 linear infinite both;
        animation: 2s preload-cycle-6 linear infinite both; }
@-webkit-keyframes preload-show-1 {
  from {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-1 {
  from {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-hide-1 {
  to {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-1 {
  to {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-cycle-1 {
  5% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  10%,
        75% {
    -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  80%,
        100% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-1 {
  5% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  10%,
        75% {
    -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  80%,
        100% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-show-2 {
  from {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-2 {
  from {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-hide-2 {
  to {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-2 {
  to {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-cycle-2 {
  10% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  15%,
        70% {
    -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  75%,
        100% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-2 {
  10% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  15%,
        70% {
    -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  75%,
        100% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-show-3 {
  from {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-3 {
  from {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-hide-3 {
  to {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-3 {
  to {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-cycle-3 {
  15% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  20%,
        65% {
    -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  70%,
        100% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-3 {
  15% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  20%,
        65% {
    -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  70%,
        100% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-show-4 {
  from {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-4 {
  from {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-hide-4 {
  to {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-4 {
  to {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-cycle-4 {
  20% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  25%,
        60% {
    -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  65%,
        100% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-4 {
  20% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  25%,
        60% {
    -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  65%,
        100% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-show-5 {
  from {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-5 {
  from {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-hide-5 {
  to {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-5 {
  to {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-cycle-5 {
  25% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  30%,
        55% {
    -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  60%,
        100% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-5 {
  25% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  30%,
        55% {
    -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  60%,
        100% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-show-6 {
  from {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-6 {
  from {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-hide-6 {
  to {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-6 {
  to {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-cycle-6 {
  30% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  35%,
        50% {
    -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  55%,
        100% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-6 {
  30% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  35%,
        50% {
    -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e; }
  55%,
        100% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@-webkit-keyframes preload-flip {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(-60deg);
    transform: rotateY(0deg) rotateZ(-60deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(-60deg);
    transform: rotateY(360deg) rotateZ(-60deg); } }
@keyframes preload-flip {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(-60deg);
    transform: rotateY(0deg) rotateZ(-60deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(-60deg);
    transform: rotateY(360deg) rotateZ(-60deg); } }
/*=================================================|
|                    Site Section                  |
==================================================*/
/* line 686, ../../sass/main.scss */
main header nav {
  background: #3b87c5 !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important; }
  /* line 691, ../../sass/main.scss */
  main header nav ul.nav {
    float: none !important;
    text-align: center; }
    /* line 694, ../../sass/main.scss */
    main header nav ul.nav li {
      float: none !important;
      display: inline-block; }
/* line 701, ../../sass/main.scss */
main .site-content {
  background: #2772a9; }
  /* line 703, ../../sass/main.scss */
  main .site-content .home-banner {
    background-image: url("../../../images/site-bg.jpg");
    background-position-x: center;
    background-position-y: 0px;
    height: 856px; }
    /* line 708, ../../sass/main.scss */
    main .site-content .home-banner .site-title {
      font-family: Pinyon Script, cursive;
      color: white;
      font-size: 90px;
      line-height: 72px;
      padding-top: 20px;
      text-align: center; }
    /* line 717, ../../sass/main.scss */
    main .site-content .home-banner .slogan img {
      display: block;
      margin: 0 auto; }
    /* line 722, ../../sass/main.scss */
    main .site-content .home-banner .site-description {
      width: 300px;
      color: #7f7f7f;
      margin: 50px 0;
      font-weight: bold; }
    /* line 728, ../../sass/main.scss */
    main .site-content .home-banner .site-txt {
      width: 673px; }
  /* line 732, ../../sass/main.scss */
  main .site-content .about-us {
    background: #f9f9f9;
    padding: 15px; }
    /* line 735, ../../sass/main.scss */
    main .site-content .about-us .head {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 1;
      color: #414141;
      font-weight: normal;
      margin-bottom: 30px;
      text-align: center; }
    /* line 745, ../../sass/main.scss */
    main .site-content .about-us .welcome-img {
      margin-bottom: 30px; }
      /* line 747, ../../sass/main.scss */
      main .site-content .about-us .welcome-img img {
        width: 100%;
        border: 20px solid white; }
    /* line 752, ../../sass/main.scss */
    main .site-content .about-us .welcome-desc {
      color: #7f7f7f;
      line-height: 1.5;
      font-size: 14px; }
    /* line 758, ../../sass/main.scss */
    main .site-content .about-us .tour:first-of-type {
      margin-bottom: 20px; }
    /* line 762, ../../sass/main.scss */
    main .site-content .about-us .tour .tour-img img {
      width: 100%; }
    /* line 766, ../../sass/main.scss */
    main .site-content .about-us .tour .tour-title {
      background: white;
      text-align: center;
      color: #414141;
      padding: 5px; }
    /* line 773, ../../sass/main.scss */
    main .site-content .about-us ul {
      list-style: circle; }
      /* line 775, ../../sass/main.scss */
      main .site-content .about-us ul li {
        color: #414141;
        margin: 10px 0; }
  /* line 781, ../../sass/main.scss */
  main .site-content .contact-us {
    background: #f9f9f9;
    padding: 15px; }
    /* line 784, ../../sass/main.scss */
    main .site-content .contact-us .head {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 1;
      color: #414141;
      font-weight: normal;
      margin-bottom: 30px;
      text-align: center; }
    /* line 794, ../../sass/main.scss */
    main .site-content .contact-us iframe {
      width: 100%; }
    /* line 797, ../../sass/main.scss */
    main .site-content .contact-us .map-info {
      color: #7f7f7f; }
      /* line 799, ../../sass/main.scss */
      main .site-content .contact-us .map-info a {
        color: #7f7f7f !important; }
    /* line 804, ../../sass/main.scss */
    main .site-content .contact-us form .input-group {
      margin-bottom: 15px; }
      /* line 806, ../../sass/main.scss */
      main .site-content .contact-us form .input-group label {
        color: #7f7f7f; }
    /* line 810, ../../sass/main.scss */
    main .site-content .contact-us form button {
      font-family: 'Oswald',sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      color: #fff;
      line-height: normal;
      border: 0 none #444;
      background-color: #444;
      padding: 5px 12px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      border-radius: 3px;
      -moz-box-shadow: 1px 1px 0 #ccc;
      -webkit-box-shadow: 1px 1px 0 #ccc;
      -khtml-box-shadow: 1px 1px 0 #ccc;
      box-shadow: 1px 1px 0 #ccc; }
  /* line 830, ../../sass/main.scss */
  main .site-content footer {
    text-align: center;
    padding-bottom: 20px; }
    /* line 836, ../../sass/main.scss */
    main .site-content footer .footer-text {
      text-align: center; }
      /* line 838, ../../sass/main.scss */
      main .site-content footer .footer-text a {
        color: white; }

/*=================================================|
|                    Responsive Section            |
==================================================*/
@media only screen and (max-width: 768px) {
  /* line 852, ../../sass/main.scss */
  .noPadding {
    padding-right: 15px !important;
    padding-left: 15px !important; }

  /* line 856, ../../sass/main.scss */
  main .site-content .site-title {
    color: black !important; }

  /* line 859, ../../sass/main.scss */
  main .site-content .slogan {
    display: none; }

  /* line 862, ../../sass/main.scss */
  main .site-content .home-banner .site-txt {
    width: auto !important; }

  /* line 865, ../../sass/main.scss */
  main .site-content .about-us .col-xs-12.col-md-4 {
    margin: 10px 0; }

  /* line 868, ../../sass/main.scss */
  main .site-content .about-us ul {
    margin-left: 20px; } }

/*# sourceMappingURL=style.css.map */
